<div class="main-container">
  <!-- Colonne des champs -->
  <div class="inputs-column">
    <mat-form-field class="pokemons-id-input" floatLabel="auto">
      <mat-label>Pokemon ID</mat-label>
      <input matInput [(ngModel)]="idSource" />
    </mat-form-field>
    <mat-form-field class="pokemons-id-readonly">
      <mat-label>ID en lecture Seule</mat-label>
      <input matInput [(ngModel)]="idReadonly" readonly />
    </mat-form-field>
    <mat-form-field class="pokemons-Filter-input">
      <mat-label>Filter</mat-label>
      <input matInput [(ngModel)]="filterText" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choisir un pokemon</mat-label>
      <mat-select [(value)]="idReadonly">
        <mat-option value="">-- Choisir un Pokémon --</mat-option>
        @for (p of pokemons | filterPokemonPipe : 'name' : filterText; track p) {
          <mat-option
            [value]="p.id"
            >
            {{ p.id }} - {{ p.name | titlecase }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Bouton centré verticalement -->
  <div class="button-column">
    <button mat-mini-fab (click)="searchById(idReadonly)">Go!</button>
  </div>

  <!-- Résultat à droite -->
  <div class="result-column">
    <ng-container>
      @if (show && selectedPokemon){
        <mat-card class="poke-card" appearance="outlined">
          <mat-card-header style="display: flex; justify-content: center">
            <mat-card-title
              >{{ selectedPokemon.name | titlecase }} (ID: {{ selectedPokemon.id }})</mat-card-title
              >
            </mat-card-header>

            <img mat-card-image [src]="pokemonInfo?.sprites?.front_default" alt="{{ selectedPokemon.name }}" />

            <mat-card-content>
              <p>Taille : {{ pokemonInfo?.height }}</p>
              <p>Poids : {{ pokemonInfo?.weight }}</p>
              <p>
                Types :
                @if (pokemonInfo?.types?.length) {
                  @for (t of pokemonInfo?.types; track t; let last = $last) {
                    <span>
                      {{ t.type.name | titlecase }}@if (!last) {
                      <span>, </span>
                    }
                  </span>
                }
              } @else {
                —
              }
            </p>
            <p>
              Abilities :
              @if (pokemonInfo?.abilities?.length) {
                @for (a of pokemonInfo?.abilities; track a; let last = $last) {
                  <span>
                    {{ a.ability?.name | titlecase }}@if (!last) {
                    <span>, </span>
                  }
                </span>
              }
            } @else {
              —
            }
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button (click)="idReadonly = null; show = false">Fermer</button>
        </mat-card-actions>
      </mat-card>
    } @else {
      <mat-card class="poke-card" appearance="outlined">
        <mat-card-content>
          <p>Aucun Pokémon sélectionné.</p>
        </mat-card-content>
      </mat-card>
    }
  </ng-container>
</div>
</div>
