<p>ID recherché : {{ idSource }}</p>
<p>ID en lecture seule : {{ idReadonly }}</p>
<input [(ngModel)]="idSource" placeholder="Entrez un ID" />
<input [value]="idReadonly" readonly />
<input [(ngModel)]="filterText" placeholder="Filtrer les Pokémons" />
<select [(ngModel)]="idReadonly" (ngModelChange)="updateSelectedPokemon()">
  <option value="">-- Choisir un Pokémon --</option>
  <option *ngFor="let p of pokemons | filterPokemonPipe:'name':filterText" [value]="p.id">
    {{ p.name }}
  </option>
</select>

<button (click)="idReadonly = idSource; searchById(idReadonly)">Rechercher</button>
<br />
@if (selectedPokemon) {
<p>Pokémon sélectionné : {{ selectedPokemon.name }} (ID: {{ selectedPokemon.id }})</p>
} @else {
<p>Aucun Pokémon sélectionné.</p>
}
